*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/tests
/public/build
/public/hot
/public/storage
/storage/app/ip2location/*.BIN
/storage/app/ip2location/*.bin
/storage/app/ip2location/*.json
/storage/app/ip2location/tmp/
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
